.all-hero {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-hero {
    width: 80%;
    height: 30vh;
    margin-top: 20vh;
}



















