@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

ul, li, a{
  list-style: none;
  text-decoration: none;
}

:root {
  --black: rgba(15, 15, 15, 0.974);
  --white : rgb(213, 213, 213);
  --red: rgba(227, 0, 0, 1);
  --gray: rgba(109, 109, 109, 0.993);

  --b1: 40px;
  --b2: 30px;
  
}











